@font-face {
  font-family: "Roboto";
  src: url("../../shared/assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../../shared/assets/fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
